.er-quote__blockquote {
    margin: 0;
    padding-left: 40px;
}

.er-quote__inner {
    border-left: 3px solid #C4C4C4;
    padding: 10px 12px 10px 40px;
}

.er-quote__content {
    line-height: 1.6em;
    margin: 0 0 10px 0;
    font-size: 15px;
    color: #313649;
    letter-spacing: .005em;
}

.er-quote__caption {
    color: #6E798C;
    margin: 0;
    font-size: 15px;
    line-height: 1.6em;
    letter-spacing: .005em;
}
