.er-delimiter {
    width: 100%;
    line-height: 1.6em;
    text-align: center;
    padding: .4em 0;
}

.er-delimiter::before {
    display: inline-block;
    content: '***';
    font-size: 30px;
    line-height: 65px;
    height: 30px;
    letter-spacing: 0.2em;
    color: #313649;

}