.er-list__ol {
    padding: .4em 0 .4em 40px;
    margin: 0;
    outline: none;
    list-style: decimal;
}

.er-list__ul {
    padding: .4em 0 .4em 40px;
    margin: 0;
    outline: none;
    list-style: disc;
}

.er-list__li {
    padding: 5.5px 0 5.5px 3px;
    line-height: 1.6em;
    font-size: 15px;
    color: #313649;
    letter-spacing: .005em;
}