.editor_landing__section_info {
    padding-top: 200px;
    padding-bottom: 70px;
    background-image: -webkit-gradient(linear,left bottom,left top,from(#fff),to(#eef7ff));
    background-image: linear-gradient(0deg,#fff,#eef7ff);
    text-align: center;
}

.editor_landing__title {
    margin: 20px 0 0;
    line-height: 1.2em;
    font-size: 50px;
    letter-spacing: .23px;
    color: #000;
    font-weight: 600;
}

.editor_landing__description {
    font-size: 17.3px;
    letter-spacing: .13px;
    line-height: 1.5em;
    color: #868da1;
    margin-top: 20px;
}

.editor_landing__cta {
    display: inline-block;
    margin-top: 40px;
    padding: 13px 19px;
    border-radius: 30px;
    background: #388ffe;
    -webkit-box-shadow: 0 9px 12px -6px rgba(11,132,242,.78);
    box-shadow: 0 9px 12px -6px rgba(11,132,242,.78);
    font-size: 16px;
    color: #fff;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    will-change: background-color,box-shadow;
    text-decoration: none;
}