.er-header {
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans;
    letter-spacing: -.03em;
    padding: 1em 0;
    margin: 0 0 -0.9em 0;
    line-height: 1.5em;
    outline: none;
    font-size: 15px;
    color: #313649;
}