.er-image__filled {
    padding: .4em 0;
}

.er-image__image {
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;
}

.er-image__image-picture {
    max-width: 100%;
    vertical-align: bottom;
    display: block;
}

.er-image__caption {
    font-size: 15px;
    color: #313649;
    line-height: 1.6;
    letter-spacing: .005em;
    text-decoration: underline;
    text-align: center;
}