.er-image__figure {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    max-width: 100%;
    max-height: 400px;
    overflow: hidden;
    background-color: aliceblue;
    border: 1px solid #eee;
}

.er-image__img {
    max-width: 100% !important;
    max-height: 400px !important;
}

.er-image__figcaption {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 5px 10px;
    font-size: 12px;
    background-color: #2d333a;
    border-radius: 2px;
    cursor: default;
    color: #313649;
    line-height: 1.6em;
    letter-spacing: .005em;
}